.category-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.category-card__title {
    flex: 0 1 auto;
    font-size: 25px;
    color: #57290E;
    font-weight: 600;
    left: 50%;
}

.category_card_header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

table {
    width: 80%;
    border-collapse: collapse;
    background-color: #fff;
}

th,
td {
    border: 1px solid #cccc66;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #a6c941;
}

tr:nth-child(even) {
    background-color: #ebf1d3;
}

.card_button {
    background-image: url(./images/sort.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-color: #a6c941;
    height: 15px;
    width: 15px;
    border: none;
    cursor: pointer;
}

.category-card__th-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

@media (max-width: 600px) {
    .category-card__title {
            font-size: 24px;
            text-align: center;
        }
    th,
    td {
            border: 1px solid #cccc66;
            text-align: center;
            font-size: 8px;
            padding: 5px;
        }
        button {
            background-size: 8px 8px;
            height: 8px;
            width: 8px;
        }
        .category-card__th-block {
            gap: 2px
        }
}