.login-container {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

  }
  
  .label:required {
    content:" *";
    color: red;
  }

  form {
    padding: 0px;
    border-radius: 8px;
    width: 300px;
    text-align: left;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #57290E;
    font: 18px "georgia", "Helvetica Neue", Helvetica;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #57290E;
    font: 14px "georgia", "Helvetica Neue", Helvetica;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

  }
  
  .button_auth {
    background-image: none;
    width: 30%;
    padding: 9px;
    background-color: #D4EBBC;
    color: #57290E;
    border-radius: 15px;
    cursor: pointer;
    font: 17px Helvetica;
    font-weight: bold;
    text-align: center;
    border-width: 2px;
    border-color: #66CC00;
    margin-left: 7vh;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  .button_auth_vk{
    background-image: url('./vk.png');
    width: 35px;
    height: 35px;
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-position: center; 
    border: none;
    cursor: pointer;
    display: block;
  }

  .form_buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
  }
  