.layout {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.layout__header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(212, 236, 188);
}

.layout__header-first-img {
    background-image: url('./images/apple.png');
    width: 200px;
    height: 200px;
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-position: center; 
    cursor: pointer;
}

.layout__header-text {
    font-size: 52px;
    font-weight: 700;
    color: #66CC00;
    text-align: center;
}

.layout__header-second-img {
    background-image: url('./images/person.png');
    width: 200px;
    height: 200px;
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.logout_button{
    background-image: none;
    position: absolute;
    padding: 5px;
    background-color: #D4EBBC;
    color: #57290E;
    cursor: pointer;
    font: 17px Helvetica;
    font-weight: bold;
    text-align: center;
    border-width: 2px;
    border-color: #e95b0e;
    margin-left: 7vh;
    margin-top: 25vh;
    z-index: 5;
}
@media (max-width: 600px) {
    .layout__header-first-img {
            width: 80px;
            height: 80px;
            background-size: 80px 80px;
        }
    
        .layout__header-text {
            font-size: 30px;
            font-weight: 700;
            color: #66CC00;
            text-align: center;
        }
    
        .layout__header-second-img {
            width: 80px;
            height: 80px;
            background-size: 80px 80px;
        }
}